<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col col-md-8 col-lg-6">
            <div class="card shadow rounded">
                <div class="card-header text-white bg-dark">
                    <h2 class="card-title">Login</h2>
                </div>
                <form class="card-body" (submit)="logIn()" [formGroup]="loginForm">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" formControlName="email" autofocus required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" formControlName="password" required>
                    </div>
                    <div class="d-grid col-6 mb-2 mx-auto">
                        <button type="submit" class="btn btn-primary">Ingresar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>